.likes__container {
	font-family: 'shabnam', 'yekan';
	display: flex;
	align-items: center;
	margin-right: 25px;
}
.likesBtn {
	margin-left: 3px;
	margin-right: -25px;
	height: 30px;
	color: #0d6efd;
	cursor: pointer;
}