@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* font-family: "Space Grotesk", sans-serif; */
}
input {
	padding: 10px 20px;
	/* border: 1px solid #ddd; */
	border-radius: 15px;
	margin-bottom: 15px;
}
a {
	text-decoration: none;
}
.home,
.replies,
.modal {
	background: #fffbf5;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 30px;
}
.homeTitle,
.repliesTitle {
	font-family: 'shabnam', 'yekan';
	margin-bottom: 30px;
}
.homeBtn,
.modalBtn {
	font-family: 'shabnam', 'yekan';
	display: block;
	width: 200px;
	padding: 15px;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 15px;
	font-size: 16px;
	font-weight: bold;
	color: #fffbf5;
	background-color: #0363f4;
	margin-bottom: 15px;
}
.homeForm {
	font-family: 'shabnam', 'yekan';
	background-color: #8eb1e5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin-bottom: 50px;
	padding: 20px;
	border-radius: 25px;
	box-shadow: 0 0 1px 1px #444cc6;
}
.home__container {
	font-family: 'shabnam', 'yekan';
	display: flex;
	flex-direction: column;
	width: 70%;
	
}
.homeBtn {
	margin-bottom: 0px;
}
.thread__container {
	border-radius: 25px;
	font-family: 'shabnam', 'yekan';
	background-color: #fffbf5;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 110%;
	padding: 20px;
}
.thread__item {
	font-family: 'shabnam', 'yekan';
	background-color: #8eb1e5;
	padding: 20px;
	width: 80%;
	box-shadow: 0 0 1px 1px #444cc6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	border-radius: 25px;
}
.likes__container {
	font-family: 'shabnam', 'yekan';
	display: flex;
	align-items: center;
	margin-right: 25px;
}
.likesBtn {
	height: 30px;
	color: #0d6efd;
	cursor: pointer;
}
.react__container {
	font-family: 'shabnam', 'yekan';
	display: flex;
	align-items: center;
}
.modal {
	font-family: 'shabnam', 'yekan';
	background-color: #ddd;
	position: fixed;
}
.modalInput {
	font-family: 'shabnam', 'yekan';
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
}
.modal__content {
	font-family: 'shabnam', 'yekan';
	background-color: #8eb1e5;
	width: 70%;
	padding: 30px;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 0 1px 1px #444cc6;
	margin-bottom: 20px;
}
.modal__content > label {
	margin-bottom: 15px;
}

