.custom-styles {
  background: linear-gradient(to bottom, #8e44ad, #6a0dad);
  padding: 30px;
  text-align: center;
}

.custom-styles .custom-title {
  color: white;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.custom-subtitle {
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.5;
}

.custom-container {
  max-width: 1000px;
  margin: 40px auto;
}

.custom-plans {
  display: flex;
  gap: 30px;
}

.custom-plan-card {
  background: #e6e6fa; /* Purple */
  padding: 30px;
  border: 1px solid #d2b4de; /* Lighter Purple */
  border-radius: 10px;
}

.custom-price {
  background: #9b59b6; /* Lighter Purple */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.custom-price .amount {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.custom-price .period {
  font-size: 16px;
  color: white;
}

.custom-description {
  color: #753240;
  margin-top: 20px;
  line-height: 1.6;
}

.custom-features {
  list-style-type: disc;
  margin-left: 20px;
  color: #753240;
}

.custom-button {
  background: #8e44ad; /* Purple */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
}

.custom-button:hover {
  background: #a569bd; /* Lighten Purple */
}

.custom-plan-card:hover {
  transform: scale(1.02);
}
