.custom-styles {
  background: linear-gradient(to bottom, #8e44ad, #d2b4de);
  padding: 30px;
  text-align: center;
  color: white;
}

.custom-header {
  margin-top: 0;
  padding-top: 0;
}

.custom-title {
  margin-top: 0;
  padding-top: 0;
  font-size: 2.5em;
  margin-bottom: 10px;
  color: black; /* Updated color to black */
}

.custom-subtitle {
  margin-top: 0;
  padding-top: 0;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.5;
}

.custom-description {
  color: black; /* Updated color to black */
  margin-top: 20px;
  line-height: 1.6;
}

.custom-container {
  margin-top: 0;
  max-width: 1000px;
  margin: 40px auto;
  background: #d2b4de;
  padding-top: 0;
}

.custom-plans {
  display: flex;
  gap: 30px;
}

.custom-plan-card {
  background: white;
  padding: 30px;
  border: 1px solid #d2b4de;
  border-radius: 10px;
  text-align: justify;
}

.custom-price {
  background: #8e44ad;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.amount {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.period {
  font-size: 16px;
  color: white;
}

.custom-description {
  color: black; /* Updated color to black */
  margin-top: 20px;
  line-height: 1.6;
}

.custom-features {
  list-style-type: disc;
  margin-left: 20px;
  color: #753240;
}

.custom-button {
  background: #8e44ad;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
}

.custom-button:hover {
  background: #a569bd;
}

.custom-plan-card:hover {
  transform: scale(1.02);
}
