
  body {
      margin: 0;
      padding: 0;
      font-family: 'IRANSansWeb',tahoma;
      color: #1e2f38;
      font-size: 14px;
      word-spacing: -1px
  }
  html,body{
    overflow-x: hidden !important;
  }
  /***********Default setting************/
  
  a:link,a:hover{text-decoration: none; outline: 0 !important}
  a:active{color:#54c3ed}
  i,span,label,a{display: inline-block; font-weight: normal;}
  ul{list-style: none !important; list-style-type: none !important; margin: 0; padding: 0}
  h1,h2,h3,h4,h5,h6{  font-size: 15px; margin: 0; padding: 0}
  img{max-width: 100%}
  
  /********** Transition ************/
  a,i,input[type="submit"], form button,.landing-layer .main-header nav > ul > li > a:before,
  .landing-layer .main-header nav .responsive-menu,.courses-view .course-col > div .img-layer a:before,
  .suggested-courses-layer .owl-dots > div span,.free-courses-layer .owl-dots > div span,.articles-view .article-col > div .img-layer a span:before,.articles-view .article-col > div .img-layer a span:after,
  .articles-view .article-col > div .img-layer a span i:before , .articles-view .article-col > div .img-layer a span i:after,
  .button-st{ outline: medium none;  text-decoration: none; -webkit-transition : all 0.2s linear 0s; -moz-transition : all 0.2s linear 0s; -ms-transition : all 0.2s linear 0s; -o-transition : all 0.2s linear 0s; transition : all 0.2s linear 0s}
  
  /*********** clearFix ************/
  .landing-layer .main-header:after,.landing-layer .main-header nav > ul:after,
  .landing-layer .main-header .clientarea .logged-in:after,.main-menu:after,.main-menu nav > ul:after,.courses-view header.heading:after,.articles-view header.heading:after,
  .articles-view .article-col > div .detail:after,.newsletter-layer .namad-layer:after,
  .newsletter-layer .newsletter-form .inner:after,.quick-access-links ul:after,
  body > footer .top-footer:after,.breadcrumb ul:after{display: block; clear: both; content: ''; visibility: hidden; height: 0; line-height: 0}
  
  
  .alert-info{
    color: #00b3e9;
    background-color: #effafd;
    border:1px solid #a3def2;
  }
  .alert-info a{
    color: #00b3e9
  }
  .alert a:hover{
    color: #1e2f38
  }
  
  .breadcrumb{
    width: 100%;
    position: relative;
    background-color: transparent;
    padding: 20px 0;
    margin-bottom: 0
  }
  .breadcrumb ul li{
    display: inline-table;
    margin-left: 25px;
    float: right;
    position: relative;
  }
  .breadcrumb ul li:last-child{
    margin-left: 0
  }
  .breadcrumb ul li:before{
    position: absolute;
    left: -15px;
    top: 7px;
    font-size: 14px;
    content: '/';
    color: #c0c8d1
  }
  .breadcrumb ul li:last-child:before{
    display: none
  }
  .breadcrumb ul li a{
    font-size: 13px;
    line-height: 26px;
    padding: 2px 0;
    color: #637076
  }
  .breadcrumb ul li a:hover{
    color: #2196f3
  }
  .box-shadow{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 7px 0 #eaeff4;
    -moz-box-shadow: 0 0 7px 0 #eaeff4;
    -webkit-box-shadow: 0 0 7px 0 #eaeff4;
    position: relative;
    border:1px solid #ecf0f4;
    background-color: #fff
  }
  .button-st{
    border:0;
    line-height: 40px;
    height: 40px;
    text-align: center;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: transparent;
  }
  .button-st.blue{
    background-color: #00bffe;
  }
  .button-st.blue:active,
  .button-st.blue:hover{
    background-color: #01ace5;
    color: #fff;
  }
  .button-st.red{
    background-color: #eb1460;
  }
  .button-st.red:active,
  .button-st.red:hover{
    background-color: #f81e6b;
    color: #fff;
  }
  .button-st.green{
    background-color: #6fc341;
  }
  .button-st.green:active,
  .button-st.green:hover{
    background-color: #61b832;
    color: #fff;
  }
  .button-st.gray{
    background-color: #cedbdf;
  }
  .button-st.gray:active,
  .button-st.gray:hover{
    color: #fff;
  }
  .button-st.radius{
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
  }
  .button-st.wide{
    width: 100%
  }
  .button-st:active,
  .button-st:visited{
    color: #fff !important
  }
  
  .landing-layer{
    width: 100%;
    position: relative;

    background: url("../assests/images/Law.jpg") no-repeat center center;


    background-size: cover;
  }
  .landing-layer.home-page{
    /*background: url('') no-repeat center center;*/
    
    background-size: cover;
    padding: 25px 0
  }
  .landing-layer .main-header{
    padding: 40px 100px 0 0;
    position: relative;
  }
  .landing-layer.home-page .main-header{
    padding: 25px 100px 25px 0;
    position: relative;
  }
  .landing-layer .main-header .title-homepage{
    line-height: 20px;
    position: absolute;
    text-indent: -9999px
  }
  .landing-layer .main-header .logo{
    position: absolute;
    top: 19px;
    right: 0;
    width: 75px;
    display: block;
  }
  .landing-layer.home-page .main-header .logo{
    top: 0;
  }
  .landing-layer .main-header .logo img{
    display: block;
    width: 100%
  }
  
  .landing-layer .main-header nav {
    position: relative;
    width: auto;
    white-space: nowrap;
    float: right;
    display: table;
    margin-top: -5px
  }
  .landing-layer .main-header nav .responsive-menu{
    font-size: 25px;
    color: #fff;
    display: none
  }
  .landing-layer .main-header nav .responsive-menu:hover{
    color: #00bffe;
    cursor: pointer;
  }
  .landing-layer .main-header nav > ul > li {
    position: relative;
    width: auto;
    white-space: nowrap;
    float: right;
    padding-left: 25px
  }
  .landing-layer .main-header nav > ul > li > a {
    font-size: 14px;
    color: #fff;
    line-height: 25px;
    padding-bottom: 35px;
    position: relative;
  }
  .landing-layer.home-page .main-header nav > ul > li > a {
    padding-bottom: 25px
  }
  .landing-layer .main-header nav > ul > li > a:before{
    position: absolute;
    right: 0;
    top: -15px;
    width: 0;
    height: 2px;
    content: '';
    box-shadow: 0 0 7px #00bffe;
    -moz-box-shadow: 0 0 7px #00bffe;
    -webkit-box-shadow: 0 0 7px #00bffe;
    background-color: #00bffe;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
  }
  .landing-layer .main-header nav > ul > li:hover > a:before{
    width: 100%
  }
  .landing-layer .main-header nav > ul > li ul {
    position: absolute;
    right: 0;
    top: 60px;
    padding: 15px;
    background-color: #fff;
    z-index: 100;
    min-width: 200px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #eaeff2;
    box-shadow: 0 0 5px rgba(237,241,244,0.7);
    -moz-box-shadow: 0 0 5px rgba(237,241,244,0.7);
    -webkit-box-shadow: 0 0 5px rgba(237,241,244,0.7);
    width: auto;
    white-space: nowrap;
    display: none
  }
  .landing-layer.home-page .main-header nav > ul > li ul {
    top: 50px;
  }
  .landing-layer .main-header nav > ul > li ul li {
    position: relative;
    width: auto;
    white-space: nowrap;
    padding-right: 15px
  }
  .landing-layer .main-header nav > ul > li ul li a{
    font-size: 14px;
    color: #1e2f38;
    line-height: 27px;
  }
  .landing-layer .main-header nav > ul > li ul li a:before{
    width: 5px;
    height: 5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #00bffe;
    position: absolute;
    right: 3px;
    top: 12px;
    content: ''
  }
  .landing-layer .main-header nav > ul > li ul li a:hover{
    color: #00b3e9
  }
  .landing-layer .main-header .clientarea{
    width: auto;
    white-space: nowrap;
    display: table;
    float: left;
    position: relative;
  }
  .landing-layer .main-header .clientarea .user-area{
    width: auto;
    float: left;
    padding-right: 14px
  }
  .landing-layer .main-header .clientarea .user-area .logged-out{
    position: relative;
    margin-top: -8px
  }
  .landing-layer .main-header .clientarea .user-area .logged-out a{
    font-size: 14px;
    color: #fff;
    position: relative;
  }
  .landing-layer .main-header .clientarea .user-area .logged-out a:hover{
    color: #00b3e9
  }
  .landing-layer .main-header .clientarea .user-area .logged-out a:nth-child(2){
    padding-left: 11px
  }
  .landing-layer .main-header .clientarea .user-area .logged-out a:nth-child(2):before{
    position: absolute;
    left: 2px;
    top: 2px;
    content: '/';
    font-size: 13px;
    color: #fff
  }
  .landing-layer .main-header .clientarea .user-area .logged-out i{
    font-size: 21px; 
    color: #fff;
    position: relative;
    top: 4px;
    margin-left: 7px;
  }
  .landing-layer .main-header .clientarea .logged-in{
    position: relative;
    margin-top: -16px;
    margin-right: 14px
  }
  .landing-layer .main-header .clientarea .logged-in .img-layer{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: relative;
    float: left;
    margin-right: 8px;
    box-shadow: 0 0 5px rgba(255,255,255,0.4);
    border: 2px solid rgba(255,255,255,0.4);
    overflow: hidden;
  }
  .landing-layer .main-header .clientarea .logged-in .img-layer img{
    width: 100%;
    display: block;
    position: relative;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
  }
  .landing-layer .main-header .clientarea .logged-in .title{
    width: auto;
    min-width: 80px;
    float: right;
    padding-left: 10px;
    position: relative;
    line-height: 40px;
    font-size: 13px;
    color: #fff;
    padding-top: 4px;
    word-spacing: -1px;
  }
  .landing-layer .main-header .clientarea .logged-in .title i{
    position: absolute;
    right: -17px;
    top: 15px;
    font-size: 21px;
    color: #fff
  }
  .landing-layer .main-header .clientarea .logged-in .title:hover,
  .landing-layer .main-header .clientarea .logged-in .title:hover i{
    color: #00b3e9
  }
  .landing-layer .main-header .clientarea .logged-in .sublayer{
    position: absolute;
    left: 0;
    top: 60px;
    padding: 15px 15px 10px;
    background-color: #fff;
    z-index: 100;
    min-width: 200px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #eaeff2;
    box-shadow: 0 0 5px rgba(237,241,244,0.7);
    -moz-box-shadow: 0 0 5px rgba(237,241,244,0.7);
    -webkit-box-shadow: 0 0 5px rgba(237,241,244,0.7);
    display: none;
  }
  .landing-layer .main-header .clientarea .logged-in .sublayer .user-wallet{
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeff2;
    margin-bottom: 10px;
    font-size: 13px
  }
  .landing-layer .main-header .clientarea .logged-in .sublayer .user-wallet span{
    color: #5fb430;
    font-size: 14px
  }
  .landing-layer .main-header .clientarea .logged-in .sublayer ul li{
    padding-right: 10px
  }
  .landing-layer .main-header .clientarea .logged-in .sublayer ul li a{
    display: block;
    line-height: 22px;
    font-size: 13px;
    color: #222b30;
    margin: 7px 0;
    position: relative;
    padding-right: 3px
  }
  .landing-layer .main-header .clientarea .logged-in .sublayer ul li a .new-msg{
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 10px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color: #f3f7fa;
    position: absolute;
    left: 3px;
    top: 1px
  }
  .landing-layer .main-header .clientarea .logged-in .sublayer ul li a:before{
    width: 5px;
    height: 5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #6fc341;
    position: absolute;
    right: -10px;
    top: 10px;
    content: ''
  }
  .landing-layer .main-header .clientarea .logged-in .sublayer ul li a:hover{
    color: #5fb430
  }
  .landing-layer .main-header .clientarea > a{
    width: auto;
    height: 15px;
    float: left;
    font-size: 21px;
    padding-left: 12px;
    line-height: 15px;
    border-left: 1px solid rgba(255,255,255,0.5);
    color: #fff
  }
  .landing-layer.home-page .main-header .clientarea > a{
    display: none
  }
  .landing-layer .main-header .clientarea > a:hover{
    color: #00b3e9
  }
  .landing-layer .main-header .clientarea > a i{
    position: relative;
    top: -2px
  }
  .landing-layer .main-header .cooperation {
    width: auto;
    float: left;
    display: table;
    position: relative;
    padding: 0;
    font-size: 14px;
    color: #fff;
    word-spacing: -2px;
    display: none;
    margin-top: -8px
  }
  .landing-layer .main-header .cooperation img{
    width: 30px;
    position: relative;
    margin-left: 3px;
    top: 1px
  }
  .landing-layer .landing-content {
    width: 600px;
    margin: 0 auto;
    position: relative;
    padding: 45px 0 70px
  }
  .landing-layer .landing-content .landing-header{
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .landing-layer .landing-content .landing-header h2{
    width: 100%;
    text-align: center;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 20px;
    word-spacing: -2px
  }
  .landing-layer .landing-content .landing-header span{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 35px
  }
  .landing-layer .landing-content .landing-search{
    position: relative;
    padding: 60px 0 45px
  }
  .landing-layer .landing-content .landing-search form{
    width: 100%;
    display: block;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255,255,255,0.1);
    position: relative;
    overflow: hidden;
  }
  .landing-layer .landing-content .landing-search form input{
    width: 100%;
    display: block;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    font-size: 15px;
    color: #1e2f38;
    border:0;
    outline: none;
  }
  .landing-layer .landing-content .landing-search form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1e2f38;
    opacity: 1;
  }
  .landing-layer .landing-content .landing-search form ::-ms-input-placeholder,
  .landing-layer .landing-content .landing-search form :-ms-input-placeholder { /* Microsoft Edge */
    color: #1e2f38;
  }
  .landing-layer .landing-content .landing-search form button{
    font-size: 25px;
    color: #00bffe;
    position: absolute;
    left: 15px;
    top: 8px;
    width: 50px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: transparent;
    border:0;
  }
  .landing-layer .landing-content .landing-search form button:hover{
    color: #1e2f38
  }
  .landing-layer .landing-content .landing-search form button i{
    position: relative;
    top: 8px
  }
  .landing-layer .landing-statistics .statistic-col{
    position: relative;
    width: 140px;
    margin: 0 auto
  }
  .landing-layer .landing-statistics .statistic-col img{
    position: relative;
    width: 100%
  }
  .landing-layer .landing-statistics .statistic-col .count{
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    right: -28px;
    top: 55px;
    color: #fff;
  }
  .landing-layer .landing-statistics .statistic-col .title{
    font-size: 15px;
    line-height: 15px;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    position: relative;
    top: -5px
  }
  
  .main-menu{
    box-shadow: 0 0 10px #ebf0f5;
    -moz-box-shadow: 0 0 10px #ebf0f5;
    -webkit-box-shadow: 0 0 10px #ebf0f5;
    background-color: #fff;
    border-bottom: 1px solid #eef4f9
  }
  .main-menu nav{
    width: auto;
    float: right;
    display: table;
    position: relative;
  }
  .main-menu nav > ul {
    position: relative;
    padding-top: 6px
  }
  .main-menu nav > ul > li {
    float: right;
    width: auto;
    white-space: nowrap;
    position: relative;
    padding-left: 30px
  }
  .main-menu nav > ul > li > a {
    display: block;
    font-size: 15px;
    line-height: 30px;
    padding: 15px 0 22px;
    color: #1e2f38
  }
  .main-menu nav > ul > li .sign-down {
    position: absolute;
    left: 14px;
    top: 22px;
    font-size: 15px;
    color: #6a7b82
  }
  .main-menu nav > ul > li:hover > a,
  .main-menu nav > ul > li:hover .sign-down {
    color: #00b3e9
  }
  .main-menu nav > ul > li > ul {
    position: absolute;
    right: 0;
    top: 68px;
    padding: 15px;
    background-color: #fff;
    z-index: 801;
    min-width: 200px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border:1px solid #eaeff2;
    box-shadow: 0 0 5px rgba(237,241,244,0.9);
    -moz-box-shadow: 0 0 5px rgba(237,241,244,0.9);
    -webkit-box-shadow: 0 0 5px rgba(237,241,244,0.9);
    width: auto;
    white-space: nowrap;
    border-top: 0;
    display: none;
  }
  .main-menu nav > ul > li > ul li {
    position: relative;
    width: auto;
    white-space: nowrap;
    padding-right: 15px;
    margin: 2px 0
  }
  .main-menu nav > ul > li > ul li a{
    font-size: 14px;
    color: #1e2f38;
    line-height: 27px;
  }
  .main-menu nav > ul > li > ul li a:before{
    width: 5px;
    height: 5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #00bffe;
    position: absolute;
    right: 3px;
    top: 12px;
    content: ''
  }
  .main-menu nav > ul > li > ul li a:hover{
    color: #00b3e9
  }
  .main-menu .cooperation {
    width: auto;
    float: left;
    display: table;
    position: relative;
    padding: 19px 0;
    font-size: 15px;
    color: #00b3e9;
    font-weight: bold;
    word-spacing: -2px
  }
  .main-menu .cooperation img{
    width: 35px;
    position: relative;
    margin-left: 3px;
    top: 2px
  }
  
  
  
  .fixed-menu{
    width: 310px;
    height: 100%;
    position: fixed;
    right: -310px;
    top: 0;
    z-index: 10002;
    background-color: #11293b;
    padding: 5px 0;
  }
  .fixed-menu .inner{
    padding: 20px
  }
  .fixed-menu .close-menu {
    font-size: 21px;
    color: #fff;
    position: absolute;
    left: 18px;
    top: 8px;
  }
  .fixed-menu .close-menu:hover {
      color: #00b3e9
  }
  .fixed-menu .logo{
    width: auto;
    display: table;
    margin: 10px auto 0
  }
  .fixed-menu .logo img{
      width: 98px
  }
  .fixed-menu form {
    width: 100%;
    position: relative;
    height: 40px;
    margin-bottom: 25px;
    margin-top: 25px
  }
  .fixed-menu form input{
    width: 100%;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 13px;
    background-color: #fff;
    border:0;
  }
  .fixed-menu form button{
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 40px;
    background-color: transparent;
    border:0;
    line-height: 45px;
    text-align: center;
    font-size: 25px;
    padding-top: 1px
  }
  .fixed-menu .inner nav{
    padding: 0 4px 0 10px;
  }
  .fixed-menu .inner nav .heading{
    font-size: 13px;
    line-height: 25px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #1d3c54;
    color: #00b3e9;
    margin-top: 10px
  }
  .fixed-menu .inner nav > ul{
    padding:0 0 0 10px;
    margin-bottom: 25px
  }
  .fixed-menu .inner nav > ul > li{
    position: relative;
    padding: 2px 10px 2px 0;
    width: 100%
  }
  .fixed-menu .inner nav > ul > li:before{
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 14px;
    content: '\f2f4';
    color: #00b3e9;
    font-family: 'material'
  }
  .fixed-menu .inner nav > ul li {
    position: relative;
  }
  .fixed-menu .inner nav > ul li .arrow-sign{
    position: absolute;
    left: 0;
    top: 7px;
  }
  .fixed-menu .inner nav > ul li .arrow-sign i{
    width: 15px;
    height: 15px;
    line-height: 13px;
    text-align: center;
    font-size: 12px;
    color: #00b3e9;
    border:1px solid #00b3e9;
    position: absolute;
    right: 0;
    top: 0
  }
  .fixed-menu .inner nav > ul li .arrow-sign i.zmdi-minus{
    display: none;
  }
  .fixed-menu .inner nav > ul li .arrow-sign i:hover{
    cursor: pointer;
    color: #00b3e9;
    border:1px solid #00b3e9;
  }
  .fixed-menu .inner nav > ul > li ul{
    display: none
  }
  .fixed-menu .inner nav > ul > li > ul > li:before{
    position: absolute;
    right: -12px;
    top: 9px;
    font-size: 13px;
    content: '\f2fa';
    color: #00b3e9;
    font-family: 'material'
  }
  .fixed-menu .inner nav > ul > li > ul > li ul li:before{
    position: absolute;
    right: -12px;
    top: 16px;
    width: 4px;
    height: 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    content: '';
    background-color: #438afe;
  }
  .fixed-menu .inner nav > ul > li ul li{
    position: relative;
    padding: 2px 0;
    width: 100%
  }
  .fixed-menu .inner nav > ul > li ul{
    margin: 5px 18px 3px 0
  }
  .fixed-menu .inner nav > ul > li a{
    position: relative;
    width: 90%;
    line-height: 22px;
    padding: 2px 0;
    color: #fff;
    font-size: 13px;
  }
  .fixed-menu .inner nav > ul li:hover > a{
    color: #00b3e9
  }
  
  .overlay{
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10001;
    width: 100%;
    height: 100%;
    display: none
  }
  
  .search-layer{
    width: 60%;
    right: 40%;
    margin-right: -20%;
    top: 30%;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: rgba(255,255,255,0.1);
    padding: 12px;
    position: fixed;
    z-index: 10002;
    display: none
  }
  .search-layer form{
    width: 100%;
    position: relative;
  }
  .search-layer input{
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border:0;
    padding: 0 18px 0 60px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
  .search-layer button{
    width: 55px;
    height: 50px;
    line-height: 58px;
    font-size: 27px;
    color: #566167;
    position: absolute;
    left: 3px;
    top: 0;
    background-color: transparent;
    border:0;
  }
  .search-layer button:hover{
    color: #7ec857
  }
  
  .courses-view{
    position: relative;
  }
  .courses-view header.heading,
  .articles-view header.heading{
    position: relative;
    margin-bottom: 45px
  }
  .courses-view header.heading h2,
  .articles-view header.heading h2{
    position: relative;
    font-size: 18px;
    color: #1e2f38;
    padding-right: 45px;
    font-weight: bold;
    width: auto;
    display: table;
    float: right;
    white-space: nowrap;
  }
  .courses-view header.heading h2:before,
  .articles-view header.heading h2:before{
    width: 2000px;
    height: 5px;
    border-radius: 25px;
    background-color: rgb(0,191,254,0.2);
    position: absolute;
    right: -1990px;
    top: 9px;
    content: ''
  }
  .courses-view header.heading h2:after,
  .articles-view header.heading h2:after{
    width: 32px;
    height: 5px;
    border-radius: 25px;
    background-color: #00bffe;
    position: absolute;
    right: 0;
    top: 9px;
    content: ''
  }
  .courses-view header.heading .view-more,
  .articles-view header.heading .view-more{
    width: auto;
    white-space: nowrap;
    display: table;
    float: left;
    font-size: 15px;
    color: #1e2f38;
    word-spacing: -2px;
    margin-top: -3px
  }
  .courses-view header.heading .view-more i,
  .articles-view header.heading .view-more i{
    font-size: 21px;
    position: relative;
    top: 5px;
    margin-right: 6px;
    color: #00bffe
  }
  .courses-view header.heading .view-more:hover,
  .articles-view header.heading .view-more:hover{
    color: #00b3e9
  }
  
  .courses-view .course-col > div{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
  }
  .courses-view .course-col > div:before{
    width: 70px;
    height: 70px;
    background: url('') no-repeat left bottom;
    content: '';
    position: absolute;
    left: -1px;
    bottom: 62px
  }
  .courses-view .course-col > div .img-layer{
    width: 100%;
    position: relative;
  }
  .courses-view .course-col > div .img-layer img{
    width: 100%;
    display: block;
      height: 180px !important;
  }
  .courses-view .course-col > div .img-layer a{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10
  }
  .courses-view .course-col > div .img-layer a:before{
    width: 100%;
    height: 55px;
    content: '';
    right: -5px;
    top: -1px;
    background: url('') no-repeat right top;
    z-index: 100;
    background-size: contain;
    position: absolute;
    opacity: 0.4
  }
  .courses-view .course-col > div .img-layer a i {
    font-size: 23px;
    position: absolute;
    right: 15px;
    top: 13px;
    color: #fff;
    z-index: 101
  }
  .courses-view .course-col > div:hover .img-layer a:before {
    opacity: 1
  }
  .courses-view .course-col > div:hover .img-layer a i {
    color: #00b3e9
  }
  .courses-view .course-col > div > h2{
    padding: 7px 14px 4px;
    position: relative;
    z-index: 10
  }
  .courses-view .course-col > div > h2 a {
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    color: #1e2f38;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
  .courses-view .course-col > div > h2 a:hover {
    color: #00b3e9
  }
  .courses-view .course-col > div .detail {
    padding: 0 12px
  }
  .courses-view .course-col > div .detail .top {
    border-bottom: 2px solid #eaeff2;
    padding-bottom: 12px
  }
  .courses-view .course-col > div .detail .top a{
    width: auto;
    display: inline-table;
    white-space: nowrap;
    font-size: 13px;
    color: #778286;
    line-height: 25px;
    padding-left: 20px;
  }
  .courses-view .course-col > div .detail .top span{
    width: auto;
    display: inline-table;
    white-space: nowrap;
    font-size: 13px;
    color: #778286;
    line-height: 25px;
    position: relative;
    top: -1px
  }
  .courses-view .course-col > div .detail .top a i{
    position: relative;
    top: 2px;
    margin-left: 5px;
    font-size: 17px;
    color: #d2dbdf
  }
  .courses-view .course-col > div .detail .top a:hover{
    color: #6fc341
  }
  .courses-view .course-col > div .detail .top span i{
    position: relative;
    top: 3px;
    margin-left: 5px;
    font-size: 17px;
    color: #d2dbdf
  }
  .courses-view .course-col > div .detail .bottom{
    position: relative;
  }
  .courses-view .course-col > div .detail .bottom .time{
    line-height: 35px;
    color: #00b3e9;
    font-size: 15px;
    word-spacing: 1px;
    padding: 7px 0 8px
  }
  .courses-view .course-col > div .detail .bottom .time i{
    position: relative;
    top: 2px;
    margin-left: 3px;
    font-size: 16px
  }
  .courses-view .course-col > div .detail .bottom .price{
    position: absolute;
    left: 0;
    bottom: 14px;
    font-size: 13px;
    color: #6fc341
  }
  .courses-view .course-col > div .detail .bottom .price i{
    font-style: normal;
    font-size: 17px
  }
  
  
  .suggested-courses-layer .owl-dots,
  .free-courses-layer .owl-dots{
    position: absolute;
    left: 0;
    top: -63px
  }
  
  .suggested-courses-layer .owl-dots > div,
  .free-courses-layer .owl-dots > div{
    width: auto;
    margin-right: 6px;
    display: inline-table;
    float: left;
  }
  .suggested-courses-layer .owl-dots > div span,
  .free-courses-layer .owl-dots > div span{
    width: 26px;
    height: 8px;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    background-color: #00bffe;
  }
  .suggested-courses-layer .owl-dots > div.active span,
  .free-courses-layer .owl-dots > div.active span{
    width: 45px;
  }
  .suggested-courses-layer .owl-dots > div span:hover,
  .free-courses-layer .owl-dots > div span:hover{
    background-color: #01ace5
  }
  
  .articles-view .article-col > div{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px
  }
  .articles-view .article-col > div .img-layer{
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .articles-view .article-col > div .img-layer img{
    width: 100%;
    display: block;
      height: 220px !important;
  }
  
  
  .articles-view .article-col > div .img-layer a{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    opacity: 0
  }
  .articles-view .article-col > div .img-layer:hover a{
    opacity: 1
  }
  .articles-view .article-col > div .img-layer a span{
    position: relative
  }
  .articles-view .article-col > div .img-layer a span i{
    font-size: 14px;
    padding: 5px 20px;
    line-height: 40px;
    position: relative;
    font-style: normal;
  }
  .articles-view .article-col > div .img-layer a span:before{
    width: 60%;
    height: 1px;
    left: 0;
    top: 0;
    background-color: #fff;
    position: absolute;
    content: ''
  }
  .articles-view .article-col > div .img-layer a span:after{
    width: 60%;
    height: 1px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    position: absolute;
    content: ''
  }
  .articles-view .article-col > div .img-layer a span i:before{
    width: 1px;
    height: 25px;
    left: 0;
    top: 0;
    background-color: #fff;
    position: absolute;
    content: ''
  }
  .articles-view .article-col > div .img-layer a span i:after{
    width: 1px;
    height: 25px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    position: absolute;
    content: ''
  }
  .articles-view .article-col > div .img-layer a span:hover:before,
  .articles-view .article-col > div .img-layer a span:hover:after{
    width: 100%
  }
  .articles-view .article-col > div .img-layer a span:hover i:before,
  .articles-view .article-col > div .img-layer a span:hover i:after{
    height: 100%
  }
  .articles-view .article-col > div h2{
    padding: 11px 15px 2px;
    position: relative;
    z-index: 10
  }
  .articles-view .article-col > div h2 a {
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    color: #1e2f38;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-weight: bold;
  }
  .articles-view .article-col > div h2 a:hover {
    color: #00b3e9
  }
  .articles-view .article-col > div p{
    color: #686e71;
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
    margin: 0;
    padding: 0 15px;
    height: 55px;
    overflow: hidden;
  }
  .articles-view .article-col > div .detail{
    padding: 15px
  }
  .articles-view .article-col > div .detail span{
    line-height: 30px;
    font-size: 14px;
    width: auto;
    display: inline-table;
    float: right;
    margin-left: 15px;
    color: #697174
  }
  .articles-view .article-col > div .detail span i{
    font-size: 14px;
    margin-left: 3px;
    position: relative;
    top: 2px;
    color: #c8cfd5
  }
  .articles-view .article-col > div .detail a{
    font-size: 14px;
    color: #00bffe;
    float: left;
    width: auto;
    display: inline-table;
    line-height: 30px;
  }
  .articles-view .article-col > div .detail a i{
    position: relative;
    top: 2px;
    margin-left: 3px;
    font-size: 17px
  }
  .articles-view .article-col > div .detail a:hover{
    color: #6fc341
  }
  
  .suggested-courses-carousel .item{
    padding: 2px
  }
  
  .last-articles-layer .container{
    position: relative;
    z-index: 10
  }
  
  .newsletter-layer{
    width: 100%;
    padding: 47px 0 45px;
    background:url('') repeat 0 0 #153248;
  }
  .newsletter-layer .newsletter-form{
    width: 70%;
    float: right;
    display: inline-table;
  }
  .newsletter-layer .newsletter-form form{
    position: relative;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 11px;
    width: 100%;
    border:2px dashed #334d60;
  }
  .newsletter-layer .newsletter-form form .inner{
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    height: 45px;
  }
  .newsletter-layer .newsletter-form form .inner .input-layer{
    width: 42%;
    float: right;
    display: inline-table;
    position: relative;
  }
  .newsletter-layer .newsletter-form form .inner .input-layer:first-child{
    border-left: 1px solid #edf3f6
  }
  .newsletter-layer .newsletter-form form .inner .input-layer i{
    font-size: 17px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 45px;
    width: 45px;
    text-align: center;
    color: #d2dbdf
  }
  .newsletter-layer .newsletter-form form .inner .input-layer input{
    width: 100%;
    padding:0 40px 0 12px;
    font-size: 13px;
    height: 45px;
    line-height: 45px;
    background-clip: #fff;
    border:0;
  }
  .newsletter-layer .newsletter-form form .inner button{
    width: auto;
    padding: 0 15px;
    font-size: 14px;
    word-spacing: -2px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    border:0;
    color: #fff;
    background-color: #6fc341
  }
  .newsletter-layer .newsletter-form .inner button:hover{
    background-color: #61b832
  }
  .newsletter-layer .namad-layer{
    width: 30%;
    float: left;
    display: inline-table;
    padding-right: 35px
  }
  .newsletter-layer .namad-layer a{
    /*float: left;*/
    display: inline-table;
    margin-right: 13px
  }
  .newsletter-layer .namad-layer img{
      width: 86px;
      height: 100px;
  }
  
  .quick-access-links{
    padding: 45px 0 40px
  }
  .quick-access-links ul li{
    width: 25%;
    float: right;
    display: inline-table;
    margin: 3px 0
  }
  .quick-access-links ul li a{
    line-height: 25px;
    padding: 0 12px 0 10px;
    font-size: 14px;
    color: #1e2f38;
    position: relative;
  }
  .quick-access-links ul li a:before{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    right: 0;
    top: 12px;
    content: '';
    background-color:#6fc341 
  }
  .quick-access-links ul li a:hover{
    color: #61b832
  }
  
  body > footer .top-footer{
    padding: 16px 0;
    background-color: #153248;
  }
  body > footer .top-footer .menu-layer{
    width: 80%;
    float: right;
    display: inline-table;
    position: relative;
  }
  body > footer .top-footer .menu-layer ul li{
    width: auto;
    white-space: nowrap;
    float: right;
    display: inline-table;
    padding-left: 15px
  }
  body > footer .top-footer .menu-layer ul li a{
    line-height: 26px;
    padding: 5px 14px 5px 10px;
    font-size: 13px;
    color: #fff;
    position: relative;
  }
  body > footer .top-footer .menu-layer ul li a:before{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    right: 0;
    top: 16px;
    content: '';
    background-color:#00bffe;
    box-shadow: 0 0 5px #00bffe 
  }
  body > footer .top-footer .menu-layer ul li a:hover{
    color: #00bffe
  }
  body > footer .socials-layer{
    width: 20%;
    float: left;
    display: inline-table;
    position: relative;
  }
  body > footer .socials-layer a{
    background-color: #23425a;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    text-align: center;
    line-height: 35px;
    float: left;
    margin-right: 10px
  }
  body > footer .socials-layer a img{
    width: 15px;
    height: 15px;
    position: relative;
    right: 1px
  }
  body > footer .socials-layer a i{
    font-size: 17px;
    color: #fff;
    position: relative;
    top: 3px
  }
  body > footer .socials-layer a:hover{
    background-color: #335671
  }
  body > footer .copyright p{
    margin: 22px 0;
    padding: 0;
    font-size: 13px;
    line-height: 25px;
    color: #153248;
    text-align: center;
  }
  body > footer .copyright p a{
    color: #153248;
  }
  body > footer .copyright p a:hover{
    color: #00bffe;
  }
  
  .copy-btn{
      font-size: 28px;
      color: #9BAABC;
      background-color: transparent;
      border:0;
      position: relative;
      padding-top: 2px
  }
  .copy-btn:hover{
      color: #0D1E2C
  }
  .copy-btn:active{
      color: #4489F6;
      padding: 0;
      margin: 0;
      position: static
  }
  .copy-btn.copied:before{
      position: absolute;
      min-width: 100px;
      background-color: #4B5668;
      color: #fff;
      padding: 0 3px;
      font-size: 12px;
      word-spacing: -2px;
      line-height: 30px;
      content: ' Ú©Ù¾ÛŒ Ø´Ø¯!';
      top: -25px;
      left: 0;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px
  }
  .copy-btn.copied:after{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #4B5668 transparent transparent transparent;
      position: absolute;
      top: 4px;
      left: 25px;
      content: ''
  }
  .pagination-layer{
    padding: 2px 0;
    position: relative;
    text-align: center;
  }
  .pagination-layer a{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border:2px solid #d8e0e6;
    line-height: 38px;
    font-size: 15px;
    text-align: center;
    line-height: 27px;
    font-size: 16px;
    margin: 2px;
    background-color: #fff;
    color: #2d3339
  }
  .pagination-layer a i{
    font-size: 21px;
    position: relative;
    top: 3px;
    color: #b0b9be
  }
  .pagination-layer a:hover,
  .pagination-layer a.active{
    border:2px solid #4cadfb;
    color: #2196f3
  }
  
  
  
  @media screen and (max-width : 1199px){
    .landing-layer .main-header nav > ul > li{
      padding-left: 20px
    }
    .main-menu nav > ul > li{
      padding-left: 22px
    }
    .main-menu nav > ul > li > a{
      font-size: 14px;
      padding: 12px 0 18px
    }
    .main-menu nav > ul > li .sign-down {
      left: 9px;
      top: 20px;
      font-size: 14px;
    }
    .main-menu .cooperation img{
      width: 30px;
      margin-left: 2px
    }
    .main-menu .cooperation{
      font-size: 14px
    }
    .main-menu nav > ul > li > ul{
      top: 62px
    }
    .landing-layer .landing-content{
      padding: 35px 0 50px
    }
    .newsletter-layer .newsletter-form form .inner .input-layer{
      width: 40%
    }
  }
  
  @media screen and (max-width : 991px){
    .search-layer {
      width: 80%;
      right: 20%;
      margin-right: -10%
    }
    .landing-layer .main-header nav > ul,
    .main-menu{
      display: none
    }
    .landing-layer .main-header nav .responsive-menu{
      display: block;
      position: relative;
      top: -2px
    }
    .landing-layer .main-header .logo{
      width: 58px;
      top: 15px
    }
    .landing-layer.home-page .main-header .logo{
      top: 0;
    }
    .landing-layer .main-header {
      padding: 30px 90px 12px 0;
    }
    .landing-layer.home-page .main-header{
      padding: 18px 90px 25px 0
    }
    .landing-layer .main-header nav{
      min-width: 38px
    }
    .landing-layer .main-header .clientarea{
      float: right;
    }
    .landing-layer.home-page .main-header .clientarea > a{
      padding: 0 12px;
      border-right: 1px solid rgba(255,255,255,0.5);
      display: block;
    }
    .landing-layer .landing-content{
      width: 100%
    }
    .landing-layer .landing-content .landing-header h2{
      font-size: 22px;
      margin-bottom: 15px
    }
    .landing-layer .landing-content .landing-header span{
      font-size: 20px
    }
    .landing-layer .landing-content{
      padding: 20px 0 0
    }
    .landing-layer .landing-content .landing-search {
      padding: 40px 0 30px;
    }
    .landing-layer .main-header .cooperation{
      display: block;
    }
    .courses-view .course-col > div > h2 a{
      font-size: 13px
    }
    .newsletter-layer .newsletter-form form .inner .input-layer{
      width: 35%
    }
    .quick-access-links ul li{
      width: 33.33%
    }
    .articles-view .article-col > div p{
      height: 50px
    }
    body > footer .top-footer{
      padding: 18px 0 24px
    }
    body > footer .top-footer .menu-layer{
      width: 100%;
      float: none;
    }
    body > footer .top-footer .menu-layer ul{
      width: auto;
      display: table;
      margin: 0 auto 15px
    }
    body > footer .socials-layer{
      width: auto;
      display: table;
      float: none;
      margin: 0 auto
    }
    body > footer .top-footer .menu-layer ul li{
      padding-left: 10px
    }
  }
  
  @media screen and (max-width : 980px){
    .articles-view .article-col > div p {
      font-size: 13px;
      line-height: 24px
    }
    .newsletter-layer .newsletter-form{
      width: 100%;
      float: none
    }
    .newsletter-layer .namad-layer{
      width: auto;
      display: table;
      margin: 30px auto 0;
      float: none;
      padding-right: 0
    }
    .newsletter-layer .namad-layer a{
      margin: 0 7px
    }
    .newsletter-layer{
      padding-bottom: 35px
    }
  }
  
  @media screen and (max-width : 760px){
    .courses-view header.heading,
    .articles-view header.heading{
      margin-bottom: 35px
    }
    .courses-view header.heading h2,
    .articles-view header.heading h2{
      font-size: 16px
    }
    .articles-view header.heading h2:before,
    .articles-view header.heading h2:after,
    .courses-view header.heading h2:before,
    .courses-view header.heading h2:after{
      top: 8px
    }
    .suggested-courses-layer .owl-dots,
    .free-courses-layer .owl-dots{
      top: -52px
    }
    .articles-view .article-col > div h2 a,
    .articles-view .article-col > div .detail a,
    .courses-view .course-col > div > h2 a{
      font-size: 13px
    }
    .articles-view .article-col > div{
      margin-bottom: 25px
    }
  }
  
  @media screen and (max-width : 600px){
    .articles-view .article-col > div .detail span:nth-child(2){
      display: none
    }
    .newsletter-layer .namad-layer{
      margin-top: 0
    }
    .newsletter-layer .newsletter-form{
      display: none
    }
    .quick-access-links ul li{
      width: 50%
    }
    .newsletter-layer{
      padding: 25px 0
    }
  }
  
  @media screen and (max-width : 520px){
    .suggested-courses-layer .owl-dots,
    .free-courses-layer .owl-dots{
      display: none
    }
  }
  
  @media screen and (max-width : 480px){
    .search-layer {
      width: 90%;
      right: 10%;
      margin-right: -5%;
      top: 10%
    }
    .landing-layer .main-header .cooperation img{
      display: none
    }
    .landing-layer .main-header .cooperation{
      margin-top: -2px;
      margin-right: 12px;
      line-height: 15px;
      padding-right: 12px;
      border-right: 1px solid rgba(255,255,255,0.5);
      float: right;
    }
    .landing-layer .main-header .cooperation:hover{
      color: #00b3e9
    }
    .landing-layer .landing-content .landing-header h2{
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 30px
    }
    .landing-layer .landing-content .landing-header span{
      font-size: 17px;
      line-height: 30px
    }
    .landing-layer .landing-content .landing-search{
      padding: 30px 0 20px
    }
    .landing-layer .landing-content{
      padding-top: 5px
    }
    .landing-layer .main-header, .landing-layer.home-page .main-header{
      padding-right: 75px
    }
    .landing-layer .landing-content .landing-search form input{
      font-size: 14px;
      word-spacing: -2px
    }
    .articles-view .article-col{
      float: none;
      width: 100%
    }
    .articles-view .article-col > div p{
      height: auto;
      overflow: visible;
      margin-bottom: 15px
    }
    .articles-view .article-col > div .detail span:nth-child(2){
      display: inline-table;
    }
    .articles-view .article-col > div .detail{
      border-top: 1px solid #eaeff2;
      margin-top: 7px
    }
    .courses-view .course-col{
      width: 100%;
      float: none
    }
    .landing-layer .main-header .clientarea .logged-in .img-layer{
      width: 35px;
      height: 35px;
      top: 5px
    }
    .landing-layer .main-header{
      padding-right: 65px
    }
  }
  
  @media screen and (max-width : 450px){
    .landing-layer .main-header .cooperation{
      display: none
    }
    .landing-layer .landing-content .landing-header h2 {
      line-height: 35px;
      width: 280px;
      display: block;
      margin: 0 auto 5px
    }
    .landing-layer .landing-content .landing-header span{
      display: none
    }
    .landing-layer .landing-content .landing-search{
      padding-top: 15px
    }
    .courses-view header.heading h2,
    .articles-view header.heading h2{
      float: none;
    }
    .courses-view header.heading .view-more,
    .articles-view header.heading .view-more{
      float: none;
      padding-right: 45px;
      margin-top: 10px
    }
    .quick-access-links ul li{
      width: 100%;
      float: none
    }
  }
  
  @media screen and (max-width :380px){
    .landing-layer .landing-content .landing-header h2 {
      width: 250px;
    }
  }
  