

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    margin: 30px 0px 0px 0px;
}
.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}
.about_text_main {
    width: 100%;
    float: left;
    padding: 100px 0px;
}
.about_img {
    width: auto;
    margin-top: 30px;
}
.about_section {
    width: 100%;
    float: left;
    background-color: #001431;
    height: auto;
    padding: 90px 0px 40px 0px;
}
.layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
}
.margin_top90 {
    margin-top: 90px;
}
.header_section {
    width: 100%;
    float: left;
    background: linear-gradient(90deg, #001431 61%, #f8f2e2 61%);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
