@font-face {
  font-family: 'MaktabRita-Regular';
  src: url(../fonts/MaktabRita-Regular.eot);
  src: url(../fonts/MaktabRita-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/MaktabRita-Regular.woff2) format('woff2'),
       url(../fonts/MaktabRita-Regular.woff) format('woff'),
       url(../fonts/MaktabRita-Regular.ttf) format('truetype'),
       url(../fonts/MaktabRita-Regular.otf) format('otf');
}

@font-face {
  font-family: 'shabnam';
  src: url('../fonts/Shabnam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('../fonts/Yekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

